.container{
    margin: 10px;
}
.main-heading{
    text-align: center;
}
.event-div{
    padding: 10px;
}
input{
    margin: 5px;
    padding: 3px;
}
.notification-div{
    padding: 10px;
}
.btn{
    cursor: pointer;
    margin-left: 3px;
}